<nav class="navbar navbar-expand-md navbar-fixed-top navbar-dark main-nav"  style="background-color: bisque">
  <div class="container">
    <div class="navbar-collapse nav-content order-2">
      <span><i class="bi bi-person"></i>{{current_username}}</span>
    </div>
    <ul class="nav navbar-nav text-nowrap flex-row mx-md-auto order-1 order-md-2">
      <a class="navbar-brand m-0" href="main">
        <img src="../../static/icons/todo-icon.png" style="height: 50px; width: 50px" class="navbar-brand-img" />
        <span class="font-weight-bold" style="color: black">N2 TODO APP</span>
        <img src="../../static/icons/todo-icon.png" style="height: 50px; width: 50px" class="navbar-brand-img" />
      </a>
    </ul>
    <div class="ml-auto navbar-collapse collapse nav-content order-3 order-md-3">
      <ul class="ml-auto nav navbar-nav">
        <li class="nav-item">
          <a class="btn btn-danger" href="logout">Çıkış Yap</a>
        </li>
      </ul>
    </div>
  </div>
</nav>